---
import BaseHead from '@/components/BaseHead.astro'
import Header from '@/components/Header.astro'
import Footer from '@/components/Footer.astro'
import Gallery from '@/components/Gallery.astro'
import ExternalScripts from '@/components/ExternalScripts.astro'

let title = 'photos.ashwath.ch'
let description =
  'Welcome to my gallery.'
---

<!doctype html>
<html lang="en">
  <BaseHead
    title={title}
    description={description}
    author={'ashwath chandran'}
    og={'og-image.jpg'}
  />

  <body class="is-preload">
    <div id="wrapper">
      <Header title={title} />
      <Footer title={title} description={description} />
      <Gallery />
    </div>
    <ExternalScripts />
  </body>
</html>
